@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root 
{
  --font-family: 'Roboto', sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #250C77;
  --secondary-color: #ED642B;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables End */

html 
{
  overflow-y: scroll;
}

/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul 
{
  list-style-type: none;
}

a 
{
  text-decoration: none;
  color: var(--bg-color);
}

a:hover 
{
  cursor: pointer;
  color: var(--secondary-color);
}

body 
{
  font-family: var(--font-family);
}

/* Navigation Section */
nav 
{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1.5rem 3.0rem;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

nav h1 
{
  color: var(--bg-color);
}

nav h1 sup 
{
  color: var(--secondary-color);
}

nav a 
{
  color: var(--bg-color);
  transition: var(--transition);
}

nav a:hover 
{
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul 
{
  display: flex;
  gap: 1.9rem;
}

nav ul li 
{
  font-weight: var(--bold-font);
}

.burger-menu 
{
  color: var(--bg-color);
  background: transparent;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
/* Navigation Section End */

/* Hero Section */
.hero-section-slider 
{
  height: 100vh;
  background-size: cover;
  background-image: url(C:\Users\Krish\Desktop\Online-Library-Management-System\public\images\library-3.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slider 4s ease-in infinite;
}

.hero-section-slider h2 
{
  color: var(--bg-color);
  border-bottom: 2.5px solid var(--secondary-color);
  text-shadow: 0 3px 2px var(--secondary-color);
  text-align: center;
  font-size: 2.5rem;
  font-weight: var(--bolder-font);
}
/* ------------------ */

/* About Section */
.about 
{
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.about h2 
{
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.about p 
{
  color: dodgerblue;
  line-height: var(--line-height);
  padding: 0.4rem;
}
/* ---------------------- */

/* Services */
.services 
{
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.services-header 
{
  text-align: center;
  font-weight: var(--bolder-font);
  margin-bottom: var(--bottom-margin-2);
}

.services-wraper 
{
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.service-container 
{
  flex: 1 1 18.750rem;
  width: 21.875rem;
  padding: 1rem;
  box-shadow: 0 3px 5px var(--secondary-shadow);
}

.service-pic 
{
  width: 65%;
  height: 60%;
  box-shadow: 0 0 5px var(--primary-color);
}

.service-container:nth-child(2) .service-pic 
{
  width: 50%;
}

.service-title 
{
  font-weight: var(--bold-font);
  margin-bottom: var(--bottom-margin);
  border-bottom: 2px solid var(--secondary-color);
}

.service-btn 
{
  color: dodgerblue;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.service-btn:hover 
{
  border-bottom: 2px solid var(--secondary-color);
}
/* ------------- */

/* Footer Section */
footer 
{
  background-color: var(--primary-color);
  padding: 2.5rem;
  margin: 2rem 0 0;
}

.first-part 
{
  color: var(--primary-shadow);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-bottom: var(--bottom-margin-2);
  border-bottom: 2px solid var(--secondary-color);
}

.first-part h1 
{
  color: var(--bg-color);
}

.first-part h1 sup 
{
  color: var(--secondary-color);
}

.second-part 
{
  margin-top: 0.875rem;
  font-size: 1.2rem;
  color: var(--bg-color);
  text-align: center;
}

.second-part span 
{
  font-size: 1.5rem;
  color: aqua;
}
/* ---------------------------------------------------------- */

/* Slider Animation Images */
@keyframes slider 
{
  10% 
  {
    background-image: url(C:\Users\Krish\Desktop\Online-Library-Management-System\public\images\library-3.jpg);
  }
  30% 
  {
    background-image: url(C:\Users\Krish\Desktop\Online-Library-Management-System\public\images\library-2.jpg);
  }
  50% 
  {
    background-image: url(C:\Users\Krish\Desktop\Online-Library-Management-System\public\images\library-1.jpg);
  }
  70% 
  {
    background-image: url(C:\Users\Krish\Desktop\Online-Library-Management-System\public\images\library-4.jpg);
  }
  90% 
  {
    background-image: url(C:\Users\Krish\Desktop\Online-Library-Management-System\public\images\library-5.jpg);
  }
  100% 
  {
    background-image: url(C:\Users\Krish\Desktop\Online-Library-Management-System\public\images\library-6.jpg);
  }
}
/* ------------------------------------------------------------- */

/* Responsive */
@media screen and (max-width: 720px) 
{
  /* Navigation */
  nav 
  {
    padding: 1.5rem 1rem;
  }
  nav ul 
  {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  nav ul li 
  {
    margin: 8px;
  }
  nav ul li a 
  {
    color: aqua;
  }
  .burger-menu 
  {
    display: block;
  }
  /* For showing our menu we toggle this class to Nav */
  nav ul.show 
  {
    transform: translateX(0);
  }

  /* Hero Section Heading */
  .hero-section h2 
  {
    font-size: 2rem;
    border-bottom: none;
  }
}

@media screen and (max-width: 440px) 
{
  /* Footer */
  .first-part 
  {
    flex-direction: column;
  }
}
.services-wraper 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 600px;
  max-width: 800px; /* Adjust the max-width as needed */
}

.genre-circle 
{
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Maintain the aspect ratio */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 10px; /* Adjust the margin as needed */
  transition: background-color 0.3s, box-shadow 0.3s;
}

.genre-circle:hover 
{
  background-color: pink; /* Change the background color on hover */
  box-shadow: 0 0 10px rgba(204,11,11,0.3); /* Add box shadow on hover */
}

.book-container 
{
  display: flex;
  overflow-x: auto; /* Enable horizontal scrollbar */
  gap: 70px; /* Adjust the gap between books as needed */
  padding: 10px;
}

.book 
{
  text-align: center;
}

.book img 
{
  width: 100px; /* Adjust the width of book images as needed */
  height: 150px; /* Adjust the height of book images as needed */
  border-radius: 8px; /* Add rounded corners to book images */
  cursor: pointer; /* Add pointer cursor for interactivity */
  transition: transform 0.3s; /* Add smooth transition on hover */
}

.book img:hover 
{
  transform: scale(1.1); /* Enlarge the book image on hover */
}

.auth-options 
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.auth-button 
{
  background-color: #db34a3;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  margin: 0 10px;
  cursor: pointer;
}

.auth-button:hover 
{
  background-color: #2980b9;
}